
.home{
  width: 30%;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  padding-top: 10px;
  background-color: rgb(173, 212, 207);
  border-radius: 5px;
  font-weight: 700;
  box-shadow: #73ffe0 0px 0px 20px 10px;
}
.home p{
  font-size: 20px;
}
.home img{
  width: 95%;
}
span{
  font-size: 30px;
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  color: white;
  padding: 30px 100px;
}

a{
  text-decoration: none;
}
.player{
  padding-top: 10vh;
}
.video{
  width: 70%;
  margin: auto;
}
.message{
  border: 1px solid black;
  font-size: 40px;
}
.message button{
  padding: 15px 30px;
}
@media screen and (max-width:1000px){
  .home,.video{
    width: 60%
  }
}
@media screen and (max-width:600px){
  .home,.video{
    width: 90%;
  }
}